
header{
    height: 80px;
    width: -webkit-fill-available;
}
 /*da rimuovere*/
 
main{height: 1000px;}

.container-main-logo {
    display: flex;
    justify-content: center;
    background-color: #fe000c;
    width: -webkit-fill-available;
    position: fixed;
    height: 80px;}

.main-logo{
    font-size: xx-large;
    font-family: fantasy;
    color: white;
    align-items: center;
    display: flex;
    padding: 4rem}

    main{
    background-image: url(img/OIP.webp);
    background-repeat: repeat;
    background-size: cover;}

    .pt-6{padding-top: 6rem;}

.navbar-elements {display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 10px;
    font-family: fantasy;
    color: #ff1100;
}

